body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border: 1px solid #337AB7;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 30px;
}

h2 {
    background-color: #337AB7;  
    color: white;
    font-size: 15px;
    font-weight: 200;
    margin: 0;
    padding: 10px;
}


.container {
    margin: 0 auto;
    padding: 5%;
    width: 50%;

}

table {
    width: 100%;
    border-collapse: collapse; 
    text-align: left;
    
}
td {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bt-cerrar {
    color: white;
    background-color: #5CB85C;
    border-radius: 3px;
    border: #5CB85C;
    padding: 8px 15px;
}

.bt-eliminar {
    color: white;
    background-color: #D9534F;
    border-radius: 3px;
    border: none;
    padding: 8px 14px;
    
}
.selector-mesas {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #eeeeee;
}
/* .text-center {
    text-align: left;
} */

.fila-1 {
    border-bottom: 2px solid gray;
    /* padding: 10px; */
}

th {
    padding: 10px;
   
}

td {
    padding: 5px;
}

.fila{
    border-bottom: 1px solid gray;
}

.form-mesas {
    margin-top: 30px;
    text-align: center;
}
.input {
    text-align: left;
    padding: 8px 13px;
    border-radius: 5px;
    border-style: outset;
}

.agregar-mesa {
    text-align: center;
    padding: 10px 15px;
    color: whitesmoke;
    background-color: #337AB7;
    border-radius: 5px;
    border: #337AB7;
}

.input-cantidad{
    width: 30%;
    padding: 5px 15px;
    border-color: #e0e0e0;
    border-style: outset;
    border-radius: 5px;
}

.fila-cantidad{
    margin-left: 10px;
}

#menu-mesas {
    
}






/*#5CB85C
#337AB7
#D9534F